# /lib/systemd/system/nodeapp.service
# /lib/systemd/user/nodeapp.service

[Unit]
Description=Node.js Application
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=node
ExecStart=/usr/bin/node /home/node/app/server.js
WorkingDirectory=/home/node/app
Restart=on-failure

[Install]
WantedBy=multi-user.target
